<!doctype html>
<html lang="ru">
    <head>
    	<meta charset="utf-8">
    	<title>Index page 2</title>
    </head>
    <body>
    <p>{{ name }}</p>
    <ul>
    	{% for user in users %}
    		<li>{{ user }}</li>
    	{% endfor %}
    </ul>
    </body>
</html>